<div class="container-fluid">
    <div class="row">
        {% for movie in movies %}
        <div class="col-lg-3 mt-4">
            <div class="card">
                {% if movie.image %}
                    <img class="card-img-top img-responsive" src="{{ movie.image }}" alt="{{ movie.name }}">
                {% else %}
                    <img class="card-img-top img-responsive" src="{{url_for('static', filename='img/no-image.jpg')}}" alt="{{ movie.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ movie.name }}</h5>
                </div>
                {% if session.name %}
                <div class="card-body">
                    {% if movie.api_id in liked %}
                        <a href="{{ url_for('delete_user_like', movie_id=movie.api_id) }}" class="card-link">Unlike</a>
                    {% else %}
                        <a href="{{ url_for('create_user_like', movie_id=movie.api_id) }}" class="card-link">Like</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>